
<!DOCTYPE html>

<!-- Common Header Fragment -->
<div th:fragment="header">
	<div align="center">
		<h1>G-Vision</h1>
	</div>
	<div class="bs-example">
		<nav class="navbar navbar-dark navbar-expand-lg fixed-top portfolio-navbar gradient" style="background: linear-gradient(120deg, #7f70f5, #0ea0ff);
  color: #fff;">
        <div class="container"><a class="navbar-brand logo" th:href="@{/}">Gvision</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="projects-compact-grid.html">Bio</a></li>
                    <li class="nav-item"><a class="nav-link" href="projects-grid-cards.html">Concepts</a></li>
                    <li class="nav-item"><a class="nav-link" href="projects-no-images.html">Coming soon</a></li>
                    <li class="nav-item"><a class="nav-link" href="projects-with-sidebar.html">T &amp; T</a></li>
                    <li class="nav-item"><a class="nav-link active" href="MuralsAndPaintings.html">Murals and paintings</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
	</div>
	
	<!-- Page Title and Logo -->
	<img th:src="@{/images/gcu-logo.png}" style="width:37.5%; height:37.5%"/>
	<br/><br/>
</div>

<div th:fragment="footer">
	<h5 style="color:purple; text-align:center; position:fixed; bottom:0; width:100%">
		Copyright 2021 G-Vision
	</h5>
</div>