<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Project Page - Gvision</title>
    <meta name="description" content="For the Gvision site">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Gvision</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="projects-compact-grid.html">Bio</a></li>
                    <li class="nav-item"><a class="nav-link" href="projects-grid-cards.html">Concepts</a></li>
                    <li class="nav-item"><a class="nav-link" href="projects-no-images.html">Murals and paintings</a></li>
                    <li class="nav-item"><a class="nav-link" href="projects-with-sidebar.html">T &amp; T</a></li>
                    <li class="nav-item"><a class="nav-link active" href="MuralsAndPaintings.html">Coming soon</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page project-page">
        <h2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Murals and paintings&nbsp;</h2>
        <section class="portfolio-block project"><img class="img-fluid scale-on-hover" src="assets/img/nature/DBZ-Mural-Vegeta.png"><img class="img-fluid scale-on-hover" src="assets/img/nature/DBZ-Mural-Goku.png">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-1 info">
                    <h3>Description:</h3>
                    <p>DBZ Mural- Freehand. Acrylic (2017)<br></p>
                    <p></p>
                </div>
            </div>
            <div>
            <img class="img-fluid scale-on-hover" src="assets/img/nature/Wave-Mural.png">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-1 info">
                    <h3>Description:</h3>
                    <p>Wavy- Freehand. Acrylic (2017)<br></p>
                    <p></p>
                </div>
            </div>
        </div>

            <img class="img-fluid scale-on-hover" src="assets/img/tech/Freddy.png">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-1 info">
                    <h3>Description:</h3>
                    <p>Painted Live at HEATED SOLE Summit- Acrylic on canvas (16x20) 2014&nbsp;<br></p>
                    <p></p>
                </div>
            </div><img class="img-fluid scale-on-hover" src="assets/img/tech/Cheech-Chong-Painting.png">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-1 info">
                    <h3>Description:</h3>
                    <p>Parked- Acrylic on canvas (16x20) 2016&nbsp;<br></p>
                    <p></p>
                </div>

            </div>
            <div><img class="img-fluid scale-on-hover" src="assets/img/tech/Pickles.png">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-1 info">
                    <h3>Description:</h3>
                    <p>Picklth-&nbsp;Acrylic on canvas (16x20) 2014<br></p>
                    <p></p>
                </div>
            </div>
        </div>

            <img class="img-fluid scale-on-hover" src="assets/img/tech/Bravo.png">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-1 info">
                    <h3>Description:</h3>
                    <p>Bravo- Acrylic on canvas (16x20) 2016<br></p>
                    <p></p>
                </div>
            </div><img class="img-fluid scale-on-hover" src="assets/img/tech/Roshi.png">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-1 info">
                    <h3>Description:</h3>
                    <p>Redlined- Acrylic on canvas (16x20) 2014<br></p>
                    <p></p>
                </div>
            </div><img class="img-fluid scale-on-hover" src="assets/img/tech/Sandy.png">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-1 info">
                    <h3>Description:</h3>
                    <p>Cheeky Gift- Acrylic on canvas (16x20) 2014<br></p>
                    <p></p>
                </div>
            </div>
            <div class="col-12 col-md-6 offset-md-1 info">
                <h3></h3>
                <p></p>
                <p></p>
            </div>
            <h3 class="text-center">More Projects Coming Soon</h3>
            <div class="container">
                <div class="heading"></div>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="#">About me</a><a href="#">Contact me</a><a href="#">Projects</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>